:root {
    --button-bg-color: #121212;
    --color-primary: #34c94b;
}

.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; 
  overflow: hidden;
}
